/* Resetting some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    top: 0;
    left: 0;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.slide img, .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7); /* Adjusted transparency */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header .logo {
    max-width: 120px;
    margin-bottom: 20px;
}

.content h1 {
    color: #7ac6e4;
    font-size: 2.2em;
    margin-bottom: 10px;
}

.content h2 {
    color: #555;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 20px;
}

.contact-info a {
    color: #380bb3;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
}

footer p {
    font-size: 0.9em;
    color: #777;
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 15px;
    }

    .content h1 {
        font-size: 1.8em;
    }

    .content h2 {
        font-size: 1.3em;
    }

    .content p {
        font-size: 0.9em;
    }

    header .logo {
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .content h1 {
        font-size: 1.6em;
    }

    .content h2 {
        font-size: 1.2em;
    }

    .content p {
        font-size: 0.8em;
    }

    header .logo {
        max-width: 80px;
    }
}
