/* Resetting some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    text-align: center;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 40px;
    text-align: center;
    width: 90%;
    position: relative;
    z-index: 1;
    margin: auto;
}

header .logo {
    max-width: 150px;
    margin: 0 auto 20px;
    display: block;
}

.content h1 {
    color: #7ac6e4;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.content h2 {
    color: #555;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-info a {
    color: #380bb3;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
}

footer p {
    font-size: 0.9em;
    color: #777;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
        padding: 20px;
    }

    .content h1 {
        font-size: 2em;
    }

    .content h2 {
        font-size: 1.2em;
    }

    .content p {
        font-size: 0.9em;
    }
}
